<div th:include="header" th:remove="tag"></div>

<div id="main" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container" id="daily">
        <div class="jscroll-inner">
            <div class="daily">
                <div th:with="cur_date = ''">
                    <span th:each="vo:${vos}">
                    <!--
                    <span th:if="${cur_date != #dates.format(vo.get('news').createdDate,'yyyy-MM-dd')}">
                        <span th:if="${voStat.index > 0}">

                     -->
                        <!--
                            </span>

                        <span th:with="cur_date=${#dates.format(vo.get('news').createdDate},'yyyy-MM-dd')}"></span>
                        -->
                    <h3 class="date">
                        <i class="fa icon-calendar"></i>
                        <span>头条资讯 &nbsp;
                            <span th:text="${#dates.format(vo.get('news').createdDate,'yyyy-MM-dd')}"></span>
                        </span>
                    </h3>

                    <div class="posts">

                        <div class="post">
                            <div class="votebar">
                                <button class="click-like up" aria-pressed="false" title="赞同"><i class="vote-arrow"></i><span
                                        class="count"><span
                                        th:text="${vo.get('news').likeCount}"></span></span></button>
                                <button class="click-dislike down" aria-pressed="true" title="反对"><i
                                        class="vote-arrow"></i>
                                </button>
                            </div>
                            <div class="content" data-url="http://nowcoder.com/posts/5l3hjr">
                                <div>
                                    <img class="content-img" th:src="@{${vo.get('news').image}}" alt=""/>
                                </div>
                                <div class="content-main">
                                    <h3 class="title">
                                        <a target="_blank" rel="external nofollow" th:href="@{'/news/'+${vo.get('news').id}}">
                                            <span th:text="${vo.get('news').title}"></span>
                                        </a>
                                    </h3>
                                    <div class="meta">
                                       <span th:text="${vo.get('news').link}"></span>
                                        <span>
                                            <i class="fa icon-comment"></i>
                                            <span th:text="${vo.get('news').commentCount}"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="user-info">
                                <div class="user-avatar">
                                    <a th:href="@{'/user/' + ${vo.get('user').id}}"><img width="32" class="img-circle"
                                                                                         th:src="@{${vo.get('user').headUrl}}"/></a>
                                </div>

                            </div>

                            <div class="subject-name">来自 <a><span
                                    th:text="${vo.get('news').userId}"></span></a></div>
                        </div>
                    </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<script th:if="${pop}!=null">
    window.loginpop = $!{pop};
</script>
-->
<script>window.loginpop = $!{pop};</script>
<div th:include="footer" th:remove="tag"></div>