<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

    <header th:replace="header :: header"></header>

    <h3>hello Thymeleaf !</h3>
    <span th:text="${value1}"></span>

    <span th:text="${user.getName()}"></span>
    <span th:text="${user.name}"></span>
    <table>
        <tr>
            <th>color</th>
        </tr>
        <tr th:each="color : ${colors}">
            <td th:text="${color}">Onions</td>
        </tr>
    </table>

    <p> </p>
    <table>
        <tr>
            <th>value</th>
        </tr>
        <tr th:each="index : ${map}">
            <td th:text="${index.value}">Onions</td>
        </tr>
    </table>
</body>

</html>